<div class="span12" style="padding-top: 7px;">
<%= render '/refinery/content_page', :hide_sections => :body_content_title  %>

<% #raw @page.content_for(:body) %>

<% #raw @page.content_for(:side_body) %>

</div>