<div class="container">
	<div class="row x">
			<div class="span2 offset1">
				<dl class="grid_3">
					<dt>Каталог</dt>
					<dd><a href="/categories">Продукция</a></dd>
					<dd><a href="/бренды">Бренды</a></dd>
					<!--<dt>Market Sectors</dt>
					<dd><a href="/pages/178/government-buyers">Government Buyers</a></dd>
                    
					<dd><a href="#">Retailers &amp; Distributors</a></dd>
                    -->
				</dl> <!-- column 1 -->
			</div>
			<div class="span2">
				<dl class="grid_3">
					<dt>Поддержка</dt>
					<dd><a href="/обслуживание-клиентов">Обслуживание клиентов</a></dd>
					<dd><a href="/аренда-и-лизинг">Аренда и лизинг</a></dd>
					<dd><a href="/доставка-товара">Доставка товара</a></dd>
					<dd><a href="/гарантийные-обязательства">Гарантийные обязательства</a></dd>
				</dl> <!-- end column 2 -->
			</div>
			<div class="span2">
				<dl class="grid_3">
					<dt>Информация</dt>
					<dd><a href="/о-компании">О компании</a></dd>
                    <dd><a href="/контакты">Контакты</a></dd>
					<dd><a href="/наши-вакансии">Наши вакансии</a></dd>
					<dd><a href="/наши-партнеры">Наши партнеры</a></dd>
				</dl> <!-- end column 3 -->
			</div>
			<div class="span2">
				<dl class="grid_3">
					<p>
						<span class="phone">8 800 555-18-90</span><br/>
						Бесплатная консультация<br/>
						Понедельник - Пятница <br/> 
						с 8:30 до 17:30
					</p>
					<p><strong>Электронный адрес отдела продаж</strong><br />
					<a href="mailto:mail@kip-k-s.ru" class="special-link">mail@kip-k-s.ru</a></p>
					
					<p><strong>Электронный адрес администратора сайта</strong><br />
					<a href="mailto:it@kip-k-s.ru" class="special-link">it@kip-k-s.ru</a></p>
				</dl> <!-- end column 4 -->
			</div>
			<div class="span2">
				<dl class="grid_3">
					<p>
						<strong>Адрес</strong><br/>
						Казань, ул.Гвардейская д.45а, <br/> 
						оф. 202, 211, 301<br/>
						(843) 295-82-77 <br/> 
						(843) 295-82-78 <br/> 
						(843) 295-82-69
					</p>
				</dl> <!-- end column 4 -->
			</div>
</div>
</div>
<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=21385834&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/21385834/3_1_FFFFFFFF_FFFFFFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:21385834,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21385834 = new Ya.Metrika({id:21385834,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21385834" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t53.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров и"+
" посетителей за 24 часа' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
